<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBgQU-huA0ffkVpyHyjqTQNA4vyiUGRpk</string>
	<key>GCM_SENDER_ID</key>
	<string>299864826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jschat-4e493</string>
	<key>STORAGE_BUCKET</key>
	<string>jschat-4e493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299864826:ios:7c3ec80dc93e8a9b70ef43</string>
	<key>DATABASE_URL</key>
	<string>https://jschat-4e493-default-rtdb.firebaseio.com</string>
</dict>
</plist>